@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');
@import url('https://fonts.cdnfonts.com/css/rampage-monoline');

.navbar {
    height: 100px;
    background-color: #88E1F2;
    align-items: center;
}

#logo {
    float:left;
    margin:0;
    font-family: 'Rampage Monoline', sans-serif;
    font-weight: 500;
    font-size: 80px;
    color: pink;
    margin-left: 10px;                                 
}

#navlist {
    float: right;
    font-size: 20px;
    margin-right: 50px; 
}
    
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: pink;
}

li {
    display: inline;
    padding-right: 70px;
    }

.hero {
    background-color: #88E1F2;
    height: 480px;
}

#heroi {
    float: right;
    margin-right: 50px;
    width: 43%;
    padding-top: 80px;
    height: 355px;
}

.hero-text {
    position: absolute;
    align-items: center;
    font-family: 'Roboto';
}

.heading {
    position: relative;
    align-items: center;
    font-size: 48px;
    font-weight: bolder;
    top: 30px;
    left: 40px;
}

.subtext {
    position: relative;
    top: 10px;
    left: 40px;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    position: relative;
    left: 50px;
    top: 30px;
  }

  .column {
    float: left;
    width: 25%;
    font-family: 'Roboto';
  }

.row {
    margin-top: 30px;
    column-gap: 40px;
    margin-left: 5vw;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    height: 440px;
  }

  .info {
    text-align: center;
    font-family: 'Roboto';
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 100px;
  }

  img {
    width: 200px;
    height: auto;
    display: block;
  }

  .testimonial {
    font-size: 32px;
    text-align: center;
    font-family: 'roboto';
    font-style: italic;
    width: 60vw;
    margin-left: 17vw;
    padding-top: 100px;
  }

  .test-container {
    background-color: #F3F647;
    justify-content: center;
    height: 300px;
  }

  .speaker {
    font-family: 'Roboto';
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: bold;
  }

  .cta {
    align-items: center;
  }

  #buttonone {
    top: 50px;
    left: 100px;
  }

  #buttontwo {
    top: 150px;
    right: 1200px;
  }

  #buttonthree {
    top: 75px;
    right: 100px;
  }

  #buttonfour {
    top: 300px;
    right: 305px;
  }

  #buttonfive {
    top: 200px;
    right: 250px;
  }

.act {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Roboto';
  color: red;
}

.acttwo {
  text-align: center;
  margin-top: -10px;
  font-weight: 500;
}